<div class="starter-template">
  <h1>This is desktop template</h1>
  <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>

  <hr/>
  Translate: {{'Date'|translate}}
  <div class="youlook-chatbox"></div>

  <div>
  	<ul>
  		<li ng-repeat="message in vm.messages">
  			<p>{{message}}</p>
  		</li>
  	</ul>
  	<input type="text" ng-model="vm.message">
  	<button type="button" ng-click="vm.sendMessage()">Send</button>
  </div>
</div>